* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
}
.navbar .logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar .logo .img {
  width: 38.824px;
  height: 39.997px;
}
.navbar .logo .img img {
  width: 100%;
  height: 100%;
}
.navbar .logo h3 {
  color: #001F3F;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  /* 140% */
}
.navbar .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.navbar .nav-items a {
  color: #001F3F;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
}
.navbar .nav-items a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 19px;
  height: 3px;
  background: #FF5A30;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.navbar .nav-items a:hover {
  color: #FF5A30;
}
.navbar .nav-items a:hover::before {
  opacity: 1;
}
.navbar .nav-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.navbar .nav-end .search-icon {
  width: 22px;
  height: 22px;
}
.navbar .nav-end button {
  width: 178px;
  height: 60px;
  border-radius: 5px;
  background: #FF5A30;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #FFF;
}
.navbar .nav-end button p {
  font-size: 16px;
  font-weight: 600;
}

.banner {
  background-image: url("../../assets/banner-img.png");
  width: 100%;
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 31, 63, 0.8);
  z-index: -1;
}
.banner .banner-text {
  width: 100%;
  height: 100%;
  align-items: center;
  color: #FFF;
}
.banner .banner-text .banner-heading {
  padding-top: 145px;
  padding-bottom: 85px;
  border-bottom: 1px solid #646C93;
}
.banner .banner-text .banner-heading h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 100px;
}
.banner .banner-text .banner-pera {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 30px;
}

.pricing-heading {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: 110px;
  margin-bottom: 50px;
}
.pricing-heading .sub-title {
  color: #FF5A30;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 20px;
}
.pricing-heading .big-title {
  color: #001F3F;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}
.pricing-heading .buttons {
  border-radius: 5px;
  background: #FAFAFF;
  height: 60px;
  display: flex;
  align-items: center;
}
.pricing-heading .buttons a {
  color: #001F3F;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  padding: 15px 30px;
}
.pricing-heading .buttons .monthly-btn {
  border-radius: 5px;
  background: #FF5A30;
  color: #FFF;
}

.pricing-cart {
  text-align: center;
  padding: 30px 32px;
  border-radius: 5px;
  border: 1px solid #C1D4E8;
  background: #FFF;
}
.pricing-cart .cart-title {
  color: #001F3F;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 5px;
}
.pricing-cart .cart-description {
  color: #435970;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}
.pricing-cart .cart-icon i {
  font-size: 42px;
  color: #001F3F;
}
.pricing-cart .cart-price {
  color: #001F3F;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 30px auto;
}
.pricing-cart .cart-price span {
  font-size: 20px;
}
.pricing-cart .cart-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.pricing-cart .cart-list li {
  color: #001F3F;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.pricing-cart .cart-btn {
  width: 246px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #001F3F;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 30px;
}
.pricing-cart:hover {
  background: #001F3F;
  transition: all 0.6s ease;
}
.pricing-cart:hover .cart-title,
.pricing-cart:hover .cart-description,
.pricing-cart:hover .cart-icon i,
.pricing-cart:hover .cart-price,
.pricing-cart:hover .cart-list,
.pricing-cart:hover .cart-list li {
  color: #FFF;
}
.pricing-cart:hover .cart-btn {
  background: #FF5A30;
}

.footer {
  margin-top: 110px;
  height: 613px;
  background: #001F3F;
}

/*====================
	 Default
======================*/
*,
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
cite,
code,
del,
img,
q,
small,
strong,
sub,
sup,
tt,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
menu,
nav,
section,
mark,
audio,
video,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
::before,
::after {
  outline: none;
  box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: middle;
}

iframe {
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
